<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.everyfarm.product.ProductDao"> 
	






















	<!-- 듄 payment에 이용 --> 
	
		<select id ="productinfo" resultType="kr.co.everyfarm.product.ProductBean">
		    <![CDATA[
		    SELECT p_no, p_img, p_title, p_landprice, p_manpay FROM product where p_no=#{p_no};
		   ]]>
		  </select>
		  
	<!-- 듄 payment에 이용 -->


</mapper>