<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.everyfarm.payment.PaymentDAO">

	<select id="paylist"
		resultType="kr.co.everyfarm.payment.PaymentBean">
		<![CDATA[
		select product.p_Id,product.p_No,product.p_Title,product.p_Img,
		payment.pay_Id,payment.pay_Orderno,payment.pay_Totalprice,payment.pay_Deliverymemo,payment.pay_Date,payment.pay_Address,payment.pay_Name,payment.pay_Tel,payment.pay_Email
		from member, product, payment where payment.pay_Id=member.m_Id and payment.pay_No=product.p_No
		]]>
	</select>

<select id="farmerpaylist"
		resultType="kr.co.everyfarm.payment.PaymentBean">
		<![CDATA[
		select member.m_Name, product.p_No,product.p_Title,payment.pay_seed,payment.pay_land,product.p_Img,payment.pay_Orderno,payment.pay_Totalprice,payment.pay_Deliverymemo,payment.pay_Date,pay_Address
		from product, payment,member where product.p_Id=#{f_Id} and payment.pay_No=product.p_No and payment.pay_id=member.m_id
		]]>
	</select>

	<select id="farmerpaylistserachpageingcount"
		resultType="kr.co.everyfarm.payment.PaymentBean">
		<![CDATA[
		select member.m_Name,product.p_No,product.p_Title,payment.pay_seed,payment.pay_land,product.p_Img,payment.pay_Orderno,payment.pay_Totalprice,payment.pay_Deliverymemo,payment.pay_Date,pay_Address
		from member, product, payment where payment.pay_Id=#{m_Id} and payment.pay_No=product.p_No
		]]>
	</select>
	<select id="farmerpaylistpageing"
		resultType="kr.co.everyfarm.payment.PaymentBean">
		<![CDATA[
		select member.m_Name,product.p_No,product.p_Title,payment.pay_seed,payment.pay_land,product.p_Img,payment.pay_Orderno,payment.pay_Totalprice,payment.pay_Deliverymemo,payment.pay_Date,pay_Address
		from member, product, payment where payment.pay_Id=#{m_Id} and payment.pay_No=product.p_No
		]]>
	</select>
	<select id="farmerpaylistserachpageing"
		resultType="kr.co.everyfarm.payment.PaymentBean">
		<![CDATA[
		select member.m_Name,product.p_No,product.p_Title,payment.pay_seed,payment.pay_land,product.p_Img,payment.pay_Orderno,payment.pay_Totalprice,payment.pay_Deliverymemo,payment.pay_Date,pay_Address
		from member, product, payment where payment.pay_Id=#{m_Id} and payment.pay_No=product.p_No
		]]>
	</select>


	<select id="getinfo" resultType="int">
		<![CDATA[
		select p_Landavailable from product where p_no=#{p_No} 
		]]>
	</select>


	<insert id="payinsert"
		parameterType="kr.co.everyfarm.payment.PaymentBean">
		<![CDATA[
		insert into payment(pay_no,pay_id,pay_land,pay_seed,pay_totalprice,pay_deliverymemo,pay_address,pay_name,pay_tel,pay_email) 
		values(#{pay_No},#{pay_Id},#{pay_Land},#{pay_Seed},#{pay_Totalprice},#{pay_Deliverymemo},#{pay_Address},#{pay_Name},#{pay_Tel},#{pay_Email})
		]]>
	</insert>
	

	<delete id="paydelete" parameterType="int">
		<![CDATA[
		delete from payment where pay_OrderNo=#{pay_Orderno}
		]]>
	</delete>


	<select resultType="kr.co.everyfarm.payment.PaymentBean"
		id="mypaylist">SELECT * FROM payment WHERE pay_Id= #{m_Id} </select>

</mapper>