<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.everyfarm.board.QnADAO">

	<select id="rownum">
		SET @rownum:=0; 
	</select>
	
	<select id="qnomax" resultType="int">
		select max(q_No) from qnatofarmer
	</select>
	
   	<!-- 총 게시글 갯수 출력 -->
	<select id="countBoard" resultType="int">
		SELECT COUNT(*) FROM qnatofarmer
	</select>
	
	<select id="searchCount" resultType="int">
		SELECT COUNT(*) FROM qnatofarmer
	</select>
	
	<select id="countMyqna" resultType="int">
		SELECT COUNT(*) FROM qnatofarmer where q_id=#{m_Id}
	</select>
	

	<!-- 페이징 처리 후 게시글 조회 -->
	<select id="selectBoard" resultType="kr.co.everyfarm.board.QnABean">
	 	SELECT *
			FROM (
    			SELECT @ROWNUM := @ROWNUM + 1 as rn, q_No, q_Id, q_Title, q_Content, q_Img,
    				q_Date, q_Secret, q_Answer, q_Pno, q_Ptitle, q_Pid, q_Magdate, q_Magcontent  
    				FROM qnatofarmer, (SELECT @ROWNUM :=0) A
   					ORDER BY q_no DESC
    			) RESULT
    	WHERE RN BETWEEN #{start} AND #{end}		
	
	</select> 
 
 	<select id="searchAllPaging" resultType="kr.co.everyfarm.board.QnABean">
	 	SELECT *
			FROM (
    			SELECT @ROWNUM := @ROWNUM + 1 as rn, q_No, q_Id, q_Title, q_Content,
    				q_Date, q_Secret, q_Answer, q_Pno, q_Ptitle, q_Pid, q_Magdate, q_Magcontent  
    				from qnatofarmer where (q_Content LIKE CONCAT('%',#{q_Content},'%') or q_Magcontent LIKE CONCAT('%',#{q_Content},'%') 
					or q_Title LIKE CONCAT('%',#{q_Content},'%') or q_Id LIKE CONCAT('%',#{q_Content},'%') or q_pno LIKE CONCAT('%',#{q_Content},'%')
					or q_ptitle LIKE CONCAT('%',#{q_Content},'%') or q_pid LIKE CONCAT('%',#{q_Content},'%') or q_date LIKE CONCAT('%',#{q_Content},'%')
					or q_magdate LIKE CONCAT('%',#{q_Content},'%')) 
		<choose> 
			<when test="q_Answer == true">  
				and q_answer = 1
			</when>
			<when test="q_Answer == false">
				and q_answer = 0
			</when>
		</choose>
		order by q_no desc
		) RESULT
    	WHERE RN BETWEEN #{start} AND #{end}	
	
	</select>
	
	<select id="searchPnoPaging" resultType="kr.co.everyfarm.board.QnABean">
		SELECT * FROM (
			SELECT @ROWNUM := @ROWNUM + 1 as rn, q_No, q_Id, q_Title, q_Content, q_Date, q_Secret,
				q_Answer, q_Pno, q_Ptitle, q_Pid, q_Magdate, q_Magcontent  
    			from qnatofarmer where q_pno LIKE CONCAT('%',#{q_Content},'%')
					<choose> 
						<when test="q_Answer == true">  
							and q_answer = 1
						</when>
						<when test="q_Answer == false">
							and q_answer = 0
						</when>
					</choose>
				order by q_no desc
		) RESULT
		WHERE RN BETWEEN #{start} AND #{end}	
	</select>
	
	<select id="searchPtitlePaging" resultType="kr.co.everyfarm.board.QnABean">
		SELECT * FROM (
			SELECT @ROWNUM := @ROWNUM + 1 as rn, q_No, q_Id, q_Title, q_Content, q_Date, q_Secret,
				q_Answer, q_Pno, q_Ptitle, q_Pid, q_Magdate, q_Magcontent  
    			from qnatofarmer where q_ptitle LIKE CONCAT('%',#{q_Content},'%')
					<choose> 
						<when test="q_Answer == true">  
							and q_answer = 1
						</when>
						<when test="q_Answer == false">
							and q_answer = 0
						</when>
					</choose>
				order by q_no desc
		) RESULT
		WHERE RN BETWEEN #{start} AND #{end}	
	</select>
 
 	<select id="searchContentPaging" resultType="kr.co.everyfarm.board.QnABean">
		SELECT * FROM (
			SELECT @ROWNUM := @ROWNUM + 1 as rn, q_No, q_Id, q_Title, q_Content, q_Date, q_Secret,
				q_Answer, q_Pno, q_Ptitle, q_Pid, q_Magdate, q_Magcontent  
    			from qnatofarmer where q_content LIKE CONCAT('%',#{q_Content},'%')
					<choose> 
						<when test="q_Answer == true">  
							and q_answer = 1
						</when>
						<when test="q_Answer == false">
							and q_answer = 0
						</when>
					</choose>
				order by q_no desc
		) RESULT
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
 
 	<select id="searchIdPaging" parameterType="kr.co.everyfarm.board.QnABean" resultType="kr.co.everyfarm.board.QnABean">
		SELECT * FROM (
			SELECT @ROWNUM := @ROWNUM + 1 as rn, q_No, q_Id, q_Title, q_Content, q_Date, q_Secret,
				q_Answer, q_Pno, q_Ptitle, q_Pid, q_Magdate, q_Magcontent  
    			from qnatofarmer where q_Id LIKE CONCAT('%',#{q_Content},'%') or  q_pid LIKE CONCAT('%',#{q_Content},'%')
					<choose> 
						<when test="q_Answer == true">  
							and q_answer = 1
						</when>
						<when test="q_Answer == false">
							and q_answer = 0
						</when>
					</choose>
				order by q_no desc
		) RESULT
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
	
	<select id="searchAllPagingfarmer" resultType="kr.co.everyfarm.board.QnABean">
	 	SELECT *
			FROM (
    			SELECT @ROWNUM := @ROWNUM + 1 as rn, q_No, q_Id, q_Title, q_Content,
    				q_Date, q_Secret, q_Answer, q_Pno, q_Ptitle, q_Pid, q_Magdate, q_Magcontent  
    				from qnatofarmer where (q_Content LIKE CONCAT('%',#{q_Content},'%') or q_Magcontent LIKE CONCAT('%',#{q_Content},'%') 
					or q_Title LIKE CONCAT('%',#{q_Content},'%') or q_Id LIKE CONCAT('%',#{q_Content},'%') or q_pno LIKE CONCAT('%',#{q_Content},'%')
					or q_ptitle LIKE CONCAT('%',#{q_Content},'%') or q_pid LIKE CONCAT('%',#{q_Content},'%') or q_date LIKE CONCAT('%',#{q_Content},'%')
					or q_magdate LIKE CONCAT('%',#{q_Content},'%')) and q_Pid=#{f_Id}
		<choose> 
			<when test="q_Answer == true">  
				and q_answer = 1
			</when>
			<when test="q_Answer == false">
				and q_answer = 0
			</when>
		</choose>
		order by q_no desc
		) RESULT
    	WHERE RN BETWEEN #{start} AND #{end}	
	
	</select>
	
	<select id="searchPnoPagingfarmer" resultType="kr.co.everyfarm.board.QnABean">
		SELECT * FROM (
			SELECT @ROWNUM := @ROWNUM + 1 as rn, q_No, q_Id, q_Title, q_Content, q_Date, q_Secret,
				q_Answer, q_Pno, q_Ptitle, q_Pid, q_Magdate, q_Magcontent  
    			from qnatofarmer where q_pno LIKE CONCAT('%',#{q_Content},'%') and q_Pid=#{f_Id}
					<choose> 
						<when test="q_Answer == true">  
							and q_answer = 1
						</when>
						<when test="q_Answer == false">
							and q_answer = 0
						</when>
					</choose>
				order by q_no desc
		) RESULT
		WHERE RN BETWEEN #{start} AND #{end}	
	</select>
	
	<select id="searchPtitlePagingfarmer" resultType="kr.co.everyfarm.board.QnABean">
		SELECT * FROM (
			SELECT @ROWNUM := @ROWNUM + 1 as rn, q_No, q_Id, q_Title, q_Content, q_Date, q_Secret,
				q_Answer, q_Pno, q_Ptitle, q_Pid, q_Magdate, q_Magcontent  
    			from qnatofarmer where q_ptitle LIKE CONCAT('%',#{q_Content},'%') and q_Pid=#{f_Id}
					<choose> 
						<when test="q_Answer == true">  
							and q_answer = 1
						</when>
						<when test="q_Answer == false">
							and q_answer = 0
						</when>
					</choose>
				order by q_no desc
		) RESULT
		WHERE RN BETWEEN #{start} AND #{end}	
	</select>
 
 	<select id="searchContentPagingfarmer" resultType="kr.co.everyfarm.board.QnABean">
		SELECT * FROM (
			SELECT @ROWNUM := @ROWNUM + 1 as rn, q_No, q_Id, q_Title, q_Content, q_Date, q_Secret,
				q_Answer, q_Pno, q_Ptitle, q_Pid, q_Magdate, q_Magcontent  
    			from qnatofarmer where q_content LIKE CONCAT('%',#{q_Content},'%') and q_Pid=#{f_Id}
					<choose> 
						<when test="q_Answer == true">  
							and q_answer = 1
						</when>
						<when test="q_Answer == false">
							and q_answer = 0
						</when>
					</choose>
				order by q_no desc
		) RESULT
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
 
 	<select id="searchIdPagingfarmer" parameterType="kr.co.everyfarm.board.QnABean" resultType="kr.co.everyfarm.board.QnABean">
		SELECT * FROM (
			SELECT @ROWNUM := @ROWNUM + 1 as rn, q_No, q_Id, q_Title, q_Content, q_Date, q_Secret,
				q_Answer, q_Pno, q_Ptitle, q_Pid, q_Magdate, q_Magcontent  
    			from qnatofarmer where (q_Id LIKE CONCAT('%',#{q_Content},'%') or  q_pid LIKE CONCAT('%',#{q_Content},'%')) and q_Pid=#{f_Id} 
					<choose> 
						<when test="q_Answer == true">  
							and q_answer = 1
						</when>
						<when test="q_Answer == false">
							and q_answer = 0
						</when>
					</choose>
				order by q_no desc
		) RESULT
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
 
 
   	<select id ="list" resultType="kr.co.everyfarm.board.QnABean">
  		<![CDATA[
   		 SELECT * FROM qna order by q_no desc
   		]]>
  	</select>
  
   	<select id ="productQlist" resultType="kr.co.everyfarm.board.QnABean">
   		 SELECT * FROM qnatofarmer order by q_no desc
  	</select> <!-- q_img -->
  	
  	<select id ="adminQlist" resultType="kr.co.everyfarm.board.QnAadminBean">
   		 SELECT * FROM qnatoadmin order by qa_no desc
  	</select>
  
  	<select id ="productPnoTitleList" resultType="kr.co.everyfarm.board.QnABean">
   		 SELECT p_No as q_pno, p_Title as q_Ptitle FROM product where p_Accept='Y'
  	</select>
  	
  	<select id ="productTitle" parameterType="int" resultType="String">
   		 SELECT p_Title FROM product where p_no=#{pno}
  	</select>
  	
  	<select id ="productId" parameterType="int" resultType="String">
   		 SELECT p_Id FROM product where p_no=#{pno}
  	</select>
  	
  	<select id="productMylist" resultType="kr.co.everyfarm.board.QnABean">
		SELECT *
			FROM (
    			SELECT @ROWNUM := @ROWNUM + 1 as rn, q_No, q_Id, q_Title, q_Content,
    				q_Date, q_Secret, q_Answer, q_Pno, q_Ptitle, q_Pid, q_Magdate, q_Magcontent  
    				FROM qnatofarmer where q_Id=#{f_Id}
   					ORDER BY q_no DESC
    			) RESULT
    	WHERE RN BETWEEN #{start} AND #{end}	
		
	</select>
	
	<select id="adminMylist" parameterType="kr.co.everyfarm.user.MemberBean" resultType="kr.co.everyfarm.board.QnAadminBean">
		select * from qnatoadmin where qa_Id=#{m_Id} order by qa_no desc
	</select>
	
	<select id="modifyrecord" parameterType="int" resultType="kr.co.everyfarm.board.QnABean">
		select * from qnatofarmer where q_No=#{no} 
	</select>
	
	<select id="modifyAdrecord" parameterType="int" resultType="kr.co.everyfarm.board.QnAadminBean">
		select * from qnatoadmin where qa_No=#{no} 
	</select>
	
	
	<select id="adminWriteO" resultType="kr.co.everyfarm.board.QnABean">
		select * from qna where q_answer=1 order by q_no desc
	</select>
	
	<select id="adminWriteX" resultType="kr.co.everyfarm.board.QnABean">
		select * from qna where q_answer=0 order by q_no desc
	</select>
	
	<select id="searchall" parameterType="kr.co.everyfarm.board.QnABean" resultType="kr.co.everyfarm.board.QnABean">
		select * from qnatofarmer where (q_Content LIKE CONCAT('%',#{q_Content},'%') or q_Magcontent LIKE CONCAT('%',#{q_Content},'%') 
		or q_Title LIKE CONCAT('%',#{q_Content},'%') or q_Id LIKE CONCAT('%',#{q_Content},'%') or q_pno LIKE CONCAT('%',#{q_Content},'%')
		or q_ptitle LIKE CONCAT('%',#{q_Content},'%') or q_pid LIKE CONCAT('%',#{q_Content},'%') or q_date LIKE CONCAT('%',#{q_Content},'%')
		or q_magdate LIKE CONCAT('%',#{q_Content},'%')) 
		<choose> 
			<when test="q_Answer == true">  
				and q_answer = 1
			</when>
			<when test="q_Answer == false">
				and q_answer = 0
			</when>
		</choose>
		order by q_no desc
	</select>
	
	<select id="searchpno" parameterType="kr.co.everyfarm.board.QnABean" resultType="kr.co.everyfarm.board.QnABean">
		select * from qnatofarmer where q_pno LIKE CONCAT('%',#{q_Content},'%')
		<choose> 
			<when test="q_Answer == true">  
				and q_answer = 1
			</when>
			<when test="q_Answer == false">
				and q_answer = 0
			</when>
		</choose>
		order by q_no desc
	</select>
	
	<select id="searchptitle" parameterType="kr.co.everyfarm.board.QnABean" resultType="kr.co.everyfarm.board.QnABean">
		select * from qnatofarmer where q_ptitle LIKE CONCAT('%',#{q_Content},'%')
		<choose> 
			<when test="q_Answer == true">  
				and q_answer = 1
			</when>
			<when test="q_Answer == false">
				and q_answer = 0
			</when>
		</choose>
		order by q_no desc
	</select>
	
	<select id="searchcontent" parameterType="kr.co.everyfarm.board.QnABean" resultType="kr.co.everyfarm.board.QnABean">
		select * from qnatofarmer where q_content LIKE CONCAT('%',#{q_Content},'%')
		<choose> 
			<when test="q_Answer == true">  
				and q_answer = 1
			</when>
			<when test="q_Answer == false">
				and q_answer = 0
			</when>
		</choose>
		order by q_no desc
	</select>
	
	<select id="searchId" parameterType="kr.co.everyfarm.board.QnABean" resultType="kr.co.everyfarm.board.QnABean">
		select * from qnatofarmer where q_Id LIKE CONCAT('%',#{q_Content},'%') or  q_pid LIKE CONCAT('%',#{q_Content},'%')
		<choose> 
			<when test="q_Answer == true">  
				and q_answer = 1
			</when>
			<when test="q_Answer == false">
				and q_answer = 0
			</when>
		</choose>
		order by q_no desc
	</select>
	
	<select id="searchallfarmer" parameterType="kr.co.everyfarm.board.QnABean" resultType="kr.co.everyfarm.board.QnABean">
		select * from qnatofarmer where (q_Content LIKE CONCAT('%',#{q_Content},'%') or q_Magcontent LIKE CONCAT('%',#{q_Content},'%') 
		or q_Title LIKE CONCAT('%',#{q_Content},'%') or q_Id LIKE CONCAT('%',#{q_Content},'%') or q_pno LIKE CONCAT('%',#{q_Content},'%')
		or q_ptitle LIKE CONCAT('%',#{q_Content},'%') or q_pid LIKE CONCAT('%',#{q_Content},'%') or q_date LIKE CONCAT('%',#{q_Content},'%')
		or q_magdate LIKE CONCAT('%',#{q_Content},'%')) and q_pid=#{q_Pid}
		<choose> 
			<when test="q_Answer == true">  
				and q_answer = 1
			</when>
			<when test="q_Answer == false">
				and q_answer = 0
			</when>
		</choose>
		order by q_no desc
	</select>
	
	<select id="searchpnofarmer" parameterType="kr.co.everyfarm.board.QnABean" resultType="kr.co.everyfarm.board.QnABean">
		select * from qnatofarmer where q_pno LIKE CONCAT('%',#{q_Content},'%') and q_pid=#{q_Pid}
		<choose> 
			<when test="q_Answer == true">  
				and q_answer = 1
			</when>
			<when test="q_Answer == false">
				and q_answer = 0
			</when>
		</choose>
		order by q_no desc
	</select>
	
	<select id="searchptitlefarmer" parameterType="kr.co.everyfarm.board.QnABean" resultType="kr.co.everyfarm.board.QnABean">
		select * from qnatofarmer where q_ptitle LIKE CONCAT('%',#{q_Content},'%') and q_pid=#{q_Pid}
		<choose> 
			<when test="q_Answer == true">  
				and q_answer = 1
			</when>
			<when test="q_Answer == false">
				and q_answer = 0
			</when>
		</choose>
		order by q_no desc
	</select>
	
	<select id="searchcontentfarmer" parameterType="kr.co.everyfarm.board.QnABean" resultType="kr.co.everyfarm.board.QnABean">
		select * from qnatofarmer where q_content LIKE CONCAT('%',#{q_Content},'%') and q_pid=#{q_Pid}
		<choose> 
			<when test="q_Answer == true">  
				and q_answer = 1
			</when>
			<when test="q_Answer == false">
				and q_answer = 0
			</when>
		</choose>
		order by q_no desc
	</select>
	
	<select id="searchIdfarmer" parameterType="kr.co.everyfarm.board.QnABean" resultType="kr.co.everyfarm.board.QnABean">
		select * from qnatofarmer where (q_Id LIKE CONCAT('%',#{q_Content},'%') or q_pid LIKE CONCAT('%',#{q_Content},'%')) and q_pid=#{q_Pid}
		<choose> 
			<when test="q_Answer == true">  
				and q_answer = 1
			</when>
			<when test="q_Answer == false">
				and q_answer = 0
			</when>
		</choose>
		order by q_no desc
	</select>
	
<!-- 	<select id="searchEach" parameterType="kr.co.everyfarm.board.QnABean" resultType="kr.co.everyfarm.board.QnABean">
		select * from qna where (q_Content LIKE CONCAT('%',#{q_Content},'%') or q_Magcontent LIKE CONCAT('%',#{q_Content},'%')
		or q_Title LIKE CONCAT('%',#{q_Content},'%')) and q_About=#{q_About} order by q_no desc
	</select> -->
	
	<insert id="insert" parameterType="kr.co.everyfarm.board.QnABean">
		insert into qnatofarmer (q_Id, q_Title, q_Img, q_Pno, q_Pid, q_Ptitle, q_Content, q_Secret)
		values (#{q_Id}, #{q_Title}, #{q_Img}, #{q_Pno}, #{q_Pid}, #{q_Ptitle}, #{q_Content}, #{q_Secret})
	</insert>   <!-- q_Img -->
	
	<insert id="insertAdmin" parameterType="kr.co.everyfarm.board.QnAadminBean">
		insert into qnatoadmin (qa_Id, qa_Title, qa_Content, qa_Secret)
		values (#{qa_Id}, #{qa_Title}, #{qa_Content}, #{qa_Secret})
	</insert>   <!-- qa_Img -->
	
	<update id="update" parameterType="kr.co.everyfarm.board.QnABean">
		update qnatofarmer set q_Title=#{q_Title}, 
		<if test="q_Img != null">
			q_Img=#{q_Img},
    	</if>
		q_Content=#{q_Content}, q_Secret=#{q_Secret},
		q_pno=#{q_Pno}, q_ptitle=#{q_Ptitle} 
		where q_No=#{q_No}
	</update>  <!-- q_Img -->
	
	<update id="updateAdmin" parameterType="kr.co.everyfarm.board.QnAadminBean">
		update qnatoadmin set qa_Title=#{qa_Title}, qa_Content=#{qa_Content}, qa_Secret=#{qa_Secret} where qa_No=#{qa_No}
	</update>  <!-- qa_Img -->
	
	<update id="adminWrite" parameterType="kr.co.everyfarm.board.QnABean">
		update qna set q_answer=1, q_magdate=now(), q_magcontent =#{q_Magcontent} where q_No=#{q_No}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from qnatofarmer where q_No=#{no}
	</delete>
	
	<delete id="deleteAdmin" parameterType="int">
		delete from qnatoadmin where qa_No=#{no}
	</delete>
	
<!-- farmer	 -->
<!-- 	<select id ="productByfarmer" resultType="kr.co.everyfarm.board.QnABean">
   		 SELECT p_No as q_Pno FROM product where p_Id=#{f_Id}
  	</select>  -->
  	
  	<select id ="countfarmerQnaList" resultType="int">
   		 SELECT count(*) FROM qnatofarmer where q_Pid=#{f_Id}
  	</select> 
  	
	<select id ="productQlistFarmer" parameterType="java.util.List" resultType="kr.co.everyfarm.board.QnABean">
   		SELECT *
			FROM (
    			SELECT @ROWNUM := @ROWNUM + 1 as rn, q_No, q_Id, q_Title, q_Content,
    				q_Date, q_Secret, q_Answer, q_Pno, q_Ptitle, q_Pid, q_Magdate, q_Magcontent  
    				FROM qnatofarmer where q_Pid=#{f_Id}
   					ORDER BY q_no DESC
    			) RESULT
    	WHERE RN BETWEEN #{start} AND #{end}	
	</select> <!-- q_img -->
  	
    <update id="farmerWrite" parameterType="kr.co.everyfarm.board.QnABean">
		update qnatofarmer set q_answer=1, q_magdate=now(), q_Pid=#{q_Pid}, q_magcontent =#{q_Magcontent} where q_No=#{q_No}
	</update>
  	
  	<!-- <delete id="delete" parameterType="java.util.List">
		delete from basket
		where b_no IN (
		  <foreach collection="list" item="deletenolist" index="index" separator=",">
            ${deletenolist}
          </foreach>
		) 
	</delete> -->
	
	
<!--   q_Img, #{q_Img}, -->
</mapper>