<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.everyfarm.board.QnADAO">

   	<select id ="list" resultType="kr.co.everyfarm.board.QnABean">
  		<![CDATA[
   		 SELECT * FROM qna
   		]]>
  	</select>
  
  	<select id="mylist" parameterType="kr.co.everyfarm.user.MemberBean" resultType="kr.co.everyfarm.board.QnABean">
		select * from qna where q_Id=#{m_Id} 
	</select>
	
	<select id="modifyrecord" parameterType="int" resultType="kr.co.everyfarm.board.QnABean">
		select * from qna where q_No=#{no} 
	</select>
	
	<insert id="insert" parameterType="kr.co.everyfarm.board.QnABean">
		insert into qna (q_Id, q_Title, q_Content, q_Secret, q_About)
		values (#{q_Id}, #{q_Title}, #{q_Content}, #{q_Secret}, #{q_About})
	</insert>
	
	<update id="update" parameterType="kr.co.everyfarm.board.QnABean">
		update qna set q_Title=#{q_Title}, q_Content=#{q_Content}, q_Secret=#{q_Secret}, q_About=#{q_About} where q_No=#{q_No}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from qna where q_No=#{no}
	</delete>
	
<!--   q_Img, #{q_Img}, -->
</mapper>